<%- include("_header") -%>


  <!-- Main section -->
  <main>
    
    <!-- New member form -->
    <h2>Ajouter un(e) Argonaute</h2>
    <form class="new-member-form">
      <label for="name">Nom de l&apos;Argonaute</label>
      <input id="name" name="name" type="text" placeholder="Charalampos" />
      <button type="submit">Envoyer</button>
    </form>
    
    <!-- Member list -->
    <h2>Membres de l'équipage</h2>
    <ul class="member-list">
        <% for (const argonaute of argonautes) {%>
        <li class="member-item">
            <%= argonaute.name %> 
        </li>
        <%}%>
      <!-- <div class="member-item">Eleftheria</div>
      <div class="member-item">Gennadios</div>
      <div class="member-item">Lysimachos</div> -->
      </ul>
  </main>
  
<%- include("_footer") -%>